[Unit]
Description=My Flask Application
After=network.target

[Service]
User=packer
WorkingDirectory=/home/packer/flask-app
Environment="FLASK_APP=app.py"
Environment="FLASK_ENV=production"
Environment="DB_HOST=$DB_HOST"
Environment="DB_PORT=$DB_PORT"
Environment="DB_NAME=$DB_NAME"
Environment="DB_USER=$DB_USER"
Environment="DB_PASSWORD=$DB_PASSWORD"
ExecStart=/home/packer/flask-app/myenv/bin/gunicorn -b :8080 app:app

[Install]
WantedBy=multi-user.target