[Unit]
Description=My Flask Application
ConditionPathExists = /home/packer/flaskapp.env
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/home/packer/flask-app
Environment="FLASK_APP=app.py"
Environment="FLASK_ENV=production"
EnvironmentFile=/home/packer/flaskapp.env
ExecStart=/home/packer/flask-app/myenv/bin/gunicorn -b :8080 app:app --access-logfile -
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
[Install]
WantedBy=multi-user.target